FIRMS_MAP_KEY=
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=5432
DB_NAME=sih_fire_db
DB_USER=postgres
DB_SSLMODE=prefer
BBOX=68.1,6.7,97.4,35.5
ALERT_EMAIL_ADDRESS=
ALERT_EMAIL_APP_PASSWORD=
TIER_0_EMAIL=
TIER_0_NAME=
TIER_1_EMAIL=
TIER_1_NAME=
TIER_2_EMAIL=
TIER_2_NAME=
PUBLIC_BASE_URL=http://localhost:8000
